/WinLayoutManager/config.xml.backup
/WinLayoutManager/layout.dat.backup

# Dependency directories
node_modules
*/node_modules
jspm_packages
package-lock.json
.DS_Store

# Optional npm cache directory
.npm

# vs
.vs/

# video files
/videos/

# dist
dist/

# tryouts
/vue-tryouts

# certs
*.crt
*.pfx
*.key
